@charset "utf-8";

#header{
    width: 80%;
    height: 10%;
    margin: auto;
    padding: 0.6em;
    background-color: black;
}

.botoesMenu{
    color: white;
    padding: 10px;
}


.modal {
    align-items: center;
    width: 500px;
    height: 300px;
    
    border-radius: 8px;
    padding: 20px 0px 24px 10px;
    background-color: white;
    border: 1px solid black;


}

.modalBackground {
    background-color: black;
    filter: opacity(90) !important;
    opacity: 0.6 !important;
    z-index: 20;
}

.divModal {
    width:100%;
    height:100%;
    background-color: black;
    display: flex;
}

.label{
    color: white; 
}

.PanelLogin {
 
    width: 500px;
    min-width: 500px;
    height: 10%;
    margin: auto;
    padding: 0.6em;
    
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}

.PanelTabela {
  
    
}

#formTabela {
   
    
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 500px;
}

.TextBox {
    border-color: #A0A0A0;
    padding: 4px;
    margin: 5px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    transition: box-shadow 0.3s, border 0.3s;
}

#formLogin {
    margin-top: 30%;
    display: flex;
    vertical-align: middle;
}

.botaoStyle {
    border-radius: 5px;
    background-color: #006FFF;
    color: white;
    height: 35px;
    font-family: 'Segoe UI Emoji';
    Font-Size: medium;
    font-weight: 500;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    
}

td > a {
    /*button*/
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 5px;
    /*button color*/
    color: white;
    background-color: #006FFF;
}

    td > a:hover {
        color: #555555;
        text-decoration: none;
        background-color: #5EA4FF;
    }


.botaoStyle:hover {
    color: white;
    text-decoration: none;
    background-color: #5EA4FF;
}

.LabelTitulo {
    font-family: 'Segoe UI Emoji';
    color: black;
    Font-Size:large;
    font-weight:600;
}

.labelModal{
    font-family: 'Segoe UI Emoji';
    color: black;
    Font-Size: medium;
    font-weight: 600;
}

.labelValidator {
    font-family: 'Segoe UI Emoji';
    Font-Size: xx-small;
    font-weight: 600;
    text-align:right;
}

#formCadastro {
    margin-top: 30%;
    display: flex;
    vertical-align: middle;
    width: 500px;
    min-width: 500px;

    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}

.gridproduto {
    display: flex;
    position: center;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.botaoInserir {
    border-radius: 10px;
    background-color: #43CD55;
    color: white;
    height: 25px;
    font-family: 'Segoe UI Emoji';
    Font-Size:small;
    font-weight: 500;
}

.botaoPDF {
    border-radius: 15px;
    background-color: #B72323;
    color: white;
    height: 25px;
    font-family: 'Segoe UI Emoji';
    Font-Size: small;
    font-weight: 500;
}


.conteudoModal{
    text-align:left;
}