@charset "utf-8";

header{
    width: 80%;
    height: 10%;
    margin: auto;
    padding: 0.6em;
    background-color: black;
}

.botoesMenu{
    color: white;
    padding: 10px;
}


.modal {
    display: block;
    align-items: center;
    width: 50%;
    height: 10%;
    margin: auto;
    border-width: 5px;
    border-radius: 8px;
    padding-bottom: 10px;
    background-color: black;
    border: rgb(0, 0, 0);
}

.label{
    color: white; 
}

.PanelLogin {
 
    width: 500px;
    min-width: 500px;
    height: 10%;
    margin: auto;
    padding: 0.6em;
    
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: -3px 2px 20px 0px #2E2E2E;
}

.TextBox {
    border-color: #A0A0A0;
    padding: 4px;
    margin: 15px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    transition: box-shadow 0.3s, border 0.3s;
}

#formLogin {
    margin-top: 30%;
    display: flex;
    vertical-align: middle;
}

.botaoStyle {
    border-radius: 5px;
    background-color: #006FFF;
    color: white;
    height: 35px;
    font-family: 'Segoe UI Emoji';
    Font-Size: medium;
    font-weight: 500;
}

.LabelTitulo {
    font-family: 'Segoe UI Emoji';
    color: black;
    Font-Size:large;
    font-weight:600;
}