@charset "utf-8";

header{
    width: 80%;
    height: 10%;
    margin: auto;
    padding: 0.6em;
    background-color: black;
}

.botoesMenu{
    color: white;
    padding: 10px;
}


.modal {
    display: block;
    align-items: center;
    width: 50%;
    height: 10%;
    margin: auto;
    border-width: 5px;
    border-radius: 8px;
    padding-bottom: 10px;
    background-color: black;
    border: rgb(0, 0, 0);
}

.label{
    color: white; 
}